<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form</title>
</head>
<body>

<h1>Tax Calculator!</h1>

<form action="/results">
  Income: <input id="field-income" name="income"><br>
  State Code: <input id="field-state" name="state"><br>
  Filing Jointly?: <input id="field-joint" type="checkbox" name="joint"><br>
  Donations:<br>
  <input id="field-donations-1" name="donations">
  <input id="field-donations-2" name="donations">
  <input id="field-donations-3" name="donations">
  <input id="field-donations-4" name="donations">
  <br>
  <input id="submit-button" type="submit" value="Calculate!">
</form>
</body>
</html>